<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css"  />
    <title>Document</title>
</head>
<body>
    <header class="container">
        <h3>RemoteBell</h3>
    </header>
    <main class="container">
        <div class="flex-row">
            <div class="sounds-list" id="soundsList">
                <p>Загружаем песни...</p>
            </div>
        </div>

    </main>
    <script src="static/index.js"></script>
</body>
</html>